body {
    font-family: 'roboto', Tahoma, Verdana, sans-serif ;
    margin: 0;
    padding: 0;
    background-image: url('FAQ.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

header {
    background-color: #ffd5d5;
    color: #0a0300;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

.faq {
    max-width: 800px;
    margin: auto;
}

article {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #000307;
    cursor: pointer;
}

p {
    color: #01000d;
    display: none;
}

article:hover p {
    display: block;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}