/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    background-image:url( "signup.jpg"); 
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat; /* Do not repeat */
    background-position: center; /* Center the background image */
    color: #333;
}

/* Navigation styles */
nav {
    background-color: transparent;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    size:10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat', Arial, sans-serif;
    transition: color 0.3s ease;
    font-size: 1.2rem; /* Increased font size */
}

nav ul li a:hover {
    color: #fffafa;
}

/* Container styles */
.container {
    width: 35%; /* Reduced container width */
    margin: 0 auto;
    text-align: center;
    margin-top: 50px; /* Reduced margin-top */
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 15px; /* Reduced padding */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow effect */
}

.container h1 {
    font-size: 2.8rem; /* Increased font size */
    margin-bottom: 20px;
    color: #333;
    font-family: 'Pacifico', Arial, sans-serif;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.4rem; /* Increased font size */
    margin-top: 20px; /* Increased margin-top */
    color: #555; /* Changed text color */
}

input {
    width: 80%; /* Reduced input width */
    padding: 10px; /* Increased padding */
    margin-top: 10px; /* Increased margin-top */
    margin-bottom: 20px;
    border-radius: 10px; /* Increased border radius */
    border: 1px solid #ccc; /* Light grey border */
}

button {
    background-color: #ffa500; /* Orange button */
    color: #fff;
    border: none;
    padding: 15px 30px; /* Increased padding */
    font-size: 1.4rem; /* Increased font size */
    border-radius: 10px; /* Increased border radius */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff8000; /* Darker orange on hover */
}
